html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.solicitacao-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0,.6);
    border-radius: 10px;
}

.solicitacao-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.solicitacao-button{
    margin: 0 90px;
    box-sizing: border-box;
    padding: 10px;
    color: #03e9f4;
    border: none;
    border-radius: 10px;
    background: linear-gradient(#141e30, #243b55);
    box-shadow: 0 15px 25px rgba(0, 0, 0,.6);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 145px;
    height: 37px;
}